<!-- The naming convention here with the underscore is to show that it is a parital file not an actual file being rendered from the server-->
<label>Name</label>
<input type="text" name="name" value = "<%= author.name%>">